body {
  margin: 0;
  background-color:#343d5b !important;
}


.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
